*, *::before, *::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
  
}

html, body {
  min-height: 100%;
  background-color: rgb(251, 207, 247); /* NOT SURE */
}

.pointsZs{
  width:100%;
  color:#A555EC;
  display: flex;
 justify-content:center;
 align-items: center;
}

.points{
  position:absolute;
  top:2rem;
  left:2rem;
}

.pointsList  li{
  margin-top:2rem;
}

.zs img{
  width:8rem;
  height:8rem; 
}


aside{
  display:flex;
  flex-direction:row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top:10rem;
}

aside ul li{
  list-style: none;
}

aside li{
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
}

aside a{
text-decoration: none;
 font-family:cursive; 
 margin:2rem;
 color:#A555EC;
 cursor: pointer;
 font-size:1.8em;
}

aside a:hover{
  color:#4C024E;
  transition: all .6s ease-in-out;
}

nav::after{
  content:'';
  position:absolute;
  bottom:1rem;
  left:0;
  width:0.2vh;
  height: 36vh;
  margin-left: 0.8rem;
  margin-bottom: 1rem;
  background-color: #A555EC;
}

main{
  width:100%;
}

.cv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding:0;
}

.cv a{
  margin:0;
  padding:0.4rem;
  border-radius:20rem;
  animation: cvanimation 6s infinite;
  animation-delay: -4s;
  animation-timing-function:ease-in-out;
}

@keyframes cvanimation {
  from {background-color: rgb(237, 178, 232);}
  to {background-color: #4C024E;}
}

.about h1{
  margin: 1rem;
  color:#A555EC;
  text-shadow: 2px 4px 4px rgba(143, 102, 148, 0.6);
  letter-spacing: 2px;
}


.about p{
  color: #4C024E;
  line-height: 1.8rem;;
}

.about h1, p{
  text-align: center;
  font-family: cursive;
}

.about img{
  position:absolute;
  bottom:0;
  right:0;
  width:50vh;
  height:56vh;
}

.socials{
  margin-top:4rem;
  width:4em;
  margin-left:1.4em;
  display:flex;
  flex-direction: column;
}

.socials img{
  width:2.6em;
  height:2.6em;
  margin-top:2em;
}

footer{
  width:100%;
  position: fixed;
  bottom:0;
  left:0;
  display: flex;
  justify-content: center;
}

footer img{
  width:6rem;
}
