*, *::before, *::after {
    margin:0;
    padding:0;
    box-sizing: border-box; 
}

html, body {
  min-height: 100vh;
  background-color: rgb(237, 209, 254); /* rgb(251, 207, 247); NOT SURE */
}

.pointsZs{
  width:100%;
  color:#A555EC;
  display: flex;
 justify-content:center;
 align-items: center;
}

.points{
  position:absolute;
  top:0;
  left:2rem;
}

.pointsList  li{
  margin-top:2rem;
}

.zs img{
  width:6rem;
  height:6rem; 
}


aside{
  display:flex;
  flex-direction:row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left:0.6rem;
}

aside ul li{
  list-style: none; 
}

.sidenav{
  margin-top:22vh;
}

.sidenav a{
  margin-top: 12vh;
}


aside li{
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
}

.sidenav a{
cursor: pointer;
text-decoration: none;
 font-family:cursive; 
 color:#A555EC;
 cursor: pointer;
 font-size:0.8rem;
 padding:0.4rem;
 /*border: 1px solid #f78cfb;*/
 background: #7703a5;
 border-radius:10%;
}

.sidenav a:hover{
  color:#4C024E;
  transition: all .6s ease-in-out;
}


nav::after{
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  width:0.2vh;
  height: 30vh;
  margin-left: 0.8rem;
  margin-top: 4rem;
  background-color: #A555EC;
}


main{
  width:100%;
}

.cv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding:0;
}

.cv a{
  text-decoration: none;
  font-family:cursive; 
  margin:0;
  padding:0.4rem;
  border-radius:20rem;
  animation: cvanimation 6s infinite;
  animation-delay: -4s;
  animation-timing-function:ease-in-out;
}

@keyframes cvanimation {
  from {background-color: rgb(237, 178, 232);}
  to {background-color: #4C024E;}
}


.about h1{
  margin: 2rem;
  color:#A555EC;
  text-shadow: 2px 4px 4px rgba(143, 102, 148, 0.6);
  letter-spacing: 2px;
}


.about p{
  color: #4C024E;
  line-height: 1.2rem;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 1rem;
}

.about h1, p{
  text-align: center;
  font-family: cursive;
}

.about .workinggirl{
  position:absolute;
  bottom:0;
  right:0;
  width:40vh;
  height:50vh;
}

.socials{
  margin:1.2rem;
  display:flex;
  align-items: center;
  justify-content: center;
}

.socials a{
  border: none;
  padding:0;
}


.socials img{
  width:1.8rem;
  height:1.8rem;
  margin:0.6rem;
}

footer{
  width:100%;
  position: fixed;
  bottom:0;
  left:0;
  display: flex;
  justify-content: center;
}

footer img{
  width:6rem;
}
